//form2
#form2 {
    & .modal-form__item {
        display: flex;
        margin: 60px auto 7.5px;
        width: fit-content;
        border: $inputbColor 0.7px solid;
        border-radius: 2px;
        & .modal-form__fname {
            width: 250px;
            text-align: left;
            display: flex;
            & .form-file__name {
                padding: 1px 2px;
            }
            & .clear-btn {
                width: 20px;
                height: 100%;
                background-color: inherit;
                position: relative;
                display: none;
                &.view {
                    display: block;
                }
                &::before {
                    content: "";
                    display: block;
                    width: 17px;
                    height: 1.2px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    background-color: rgb(180, 180, 180);
                }
                &::after {
                    content: "";
                    display: block;
                    width: 17px;
                    height: 1.2px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(135deg);
                    background-color: rgb(180, 180, 180);
                }
            }
        }
        & .modal-form__label {
            width: 60px;
            display: block;
            & .browse-btn {
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                background-color: #EFEFEF;
                border-left: $inputbColor 0.7px solid;
                & i {
                    font-size: 1.53em;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    & .preview-outer {
        width: 100%;
        height: 220px;
        position: relative;
        margin: 0 auto;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 180px;
            height: 180px;
            transform: translate(-50%, -50%);
            border: #B9B9B9 solid 1px;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 185px;
            height: 185px;
            transform: translate(-50%, -50%);
            border: #B9B9B9 solid 1px;
        }
        #preview {
            max-width: 170px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
