//form1
#form1 {
    & .form-item__outer {
        display: flex;
        justify-content: center;
        width: 500px;
        margin: 0 auto;
        &:nth-child(4) {
            & .modal-form__item {
                & .modal-form__input {
                    width: 100%;
                }
            }
        }
    }
    & .modal-form__item {
        // width: fit-content;
        margin: 0 5px;

        & .modal-form__label {
             display: block;
             text-align: left;
        }
        & #name {

        }
        & #pCode {
            width: 95px;
        }
        & #add1 {

        }
        & #add2 {

        }
        & #add3 {

        }
        & #add4 {

        }
        & #tel {

        }
    }
}
