//form1
#form1 {
    & .modal-form__content {
        display: flex;
        justify-content: center;
        & .form-item__outer {
            width: fit-content;
            margin: 0 12.5px;
            & .form-item {
                margin-bottom: 12px;
                text-align: left;
                & .form-label {
                     margin: 0;
                }
                & .form-input {
                    width: 200px;
                    padding: 0.175rem 0.5rem;
                }
            }
        }
    }
}
