// カラー定数
$header_bg: #ADADAD;
$body_bg: #f5f5f5;
$side_summary_bg: #A2A2A2;
$btn_bg: #EBEBEB;
$font_color: #3C3C3C;
$inputbColor: #bbbbbb;
$input_bg: #f8fafc;
$required_color: #ff4141;

// フォントサイズ定数
$base_font_size: 17px;

// 横幅や高さの定数
$header_height: 32px;
$side_menu_wigth: 276px;

body {
    background: $body_bg;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
}

// サイドメニューのお品書き用
.restaurant-menu {
    display: block;
    width: 38px;
    height: 38px;
    margin: 0 auto;
    @include svg-view('000');
}

.form-item {
    display: flex;
    align-items: center;

    &__container {
        width: 100%;
    }

    &__dropzone {
        padding: 20px;
        border: 2px dashed #eeeeee;
        background: #fff;
        outline: "none";
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        font-size: ($base_font_size - 6px);
        text-align: center;

        &__btn {
            display: flex;
            background: inherit;
            border-radius: 3px;
            border:1px solid $required_color;
            color: $required_color;
            align-items: center;
            padding: 5px 7px;
            font-weight: bold;
            margin: 0 auto 10px;
            & i {
                font-size: 1rem;
            }
            &--txt {
                margin-left: 10px;
            }
        }

        &--txt {
            display: block;
            color:#39C4C9;
        }

        &.disabled {
            pointer-events: none;
            cursor: not-allowed;

            & .form-item__dropzone__btn {
                border:1px solid #b4b4b4;
                color: #b4b4b4;
            }

            & .form-item__dropzone--txt {
                color: #b4b4b4;
            }
        }
    }

    &__lavel {
        width: 350px;
        &--txt {
            margin: 0;
            font-weight: bold;
            font-size: $base_font_size;
        }
    }
}

.photo-list {
    display: grid;
    gap: 15px 15px;
    grid-template-columns: repeat(3, 1fr);

    & .photo-item {
        width: 120px;
        max-width: 120px;
        position: relative;
        margin: 0 auto;
        background: #ececec;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: "";
            display: block;
            padding-top: 100%; /* 比率を指定 */
        }

        & picture {
            height: fit-content;
            height: 100%;
        }

        &__preview {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &__btn {
            position: absolute;
            right: 2px;
            top: 2px;
            background: #000000;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            opacity: 0.5;
            &--inner {
                position: relative;
                pointer-events: none;
                &::before {
                    content: "";
                    display: block;
                    width: 1px;
                    height: 16.5px;
                    background: #ffffff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(135deg);
                }
                &::after {
                    content: "";
                    display: block;
                    width: 1px;
                    height: 16.5px;
                    background: #ffffff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
            }
        }
    }
}

.form-outer {
    margin-top: 40px;
    font-size: $base_font_size;
    max-width: 640px;
}

.form-control {
    width: 33%;
    padding: 10px 13px;
    font-size: 16px;
}

// 必須項目用
.form-required {
    font-size: 7.5px;
    color: white;
    background-color: #ff4141;
    padding: 2px 4px;
    margin-left: 1px;
    &::after {
        content: '必須';
    }
}

// デフォルトフォームボタン
.form-btn {
    border: 1px solid $font_color;
    border-radius: 3px;
    width: fit-content;
    padding: 0.2rem 1rem;
}

// [郵便番号で住所取得]ボタン
.ajaxzip3 {
    padding: 3px 15px;
    border: 1px solid #707070;
}

// チェックボックス
input[type=checkbox] {
    appearance: none;
    border: 1px solid #8c8f94;
    border-radius: 4px;
    background: inherit;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 1rem;
    margin: -0.25rem 0.25rem 0 0;
    outline: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 1rem;
    min-width: 1rem;
    position: relative;
    overflow: hidden;
    &:checked {
        border: none;
        &::before {
            content: '';
            width: 101%;
            height: 101%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #39C4C9;
        }
        &::after {
            content: url('data:image/svg+xml;charset=utf8,<svg id="check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 405.03 399.22"><path fill="%23fff" d="M475,50.68c-4.07,6.67-75.5,75.7-107.89,116.57-10.2,12.87-27.94,38-36.3,52.16C294.27,281.2,195,448.36,195,448.36h-3.94l-59.9-107.79c-17.63-39.84-44.5-57.74-61.21-50.34,0,0,10.11-19.92,21.8-26.68,11.23-6.5,22.55-5.05,32.29-.83,3.18,1.38,16.25,12.8,26.54,23,0,0,24.88,28.44,42.45,56.93,10.82-19.42,51.09-86.7,57.49-93.93s37.08-55.84,43.46-63.09c38.45-46.5,58.85-66.67,82.83-83.85,32.47-23.28,87.77-49.65,90.5-52.67Z" transform="translate(-69.96 -49.14)"/></svg>');
            position: absolute;
            top: 50%;
            left: 50%;
            width: 90%;
            height: 90%;
            transform: translate(-50%, -50%);
            color: #fff;
        }
    }
}

// フォームファイル用
.form-file {
    display: flex;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: $input_bg;
    background-clip: padding-box;

    & .form-file__inner {
        padding: 10px 13px;
        width: 100%;
        text-align: left;
        display: flex;
        font-size: 0.9rem;
        & .clear-btn {
            width: 20px;
            height: 100%;
            background-color: inherit;
            position: relative;
            display: none;
            &.view {
                display: block;
            }
            &::before {
                content: "";
                display: block;
                width: 17px;
                height: 1.2px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                background-color: rgb(180, 180, 180);
            }
            &::after {
                content: "";
                display: block;
                width: 17px;
                height: 1.2px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(135deg);
                background-color: rgb(180, 180, 180);
            }
        }
    }
    & .form-file__label {
        width: 60px;
        display: block;
        & .browse-btn {
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            background-color: #EFEFEF;
            border-left: #ced4da 0.7px solid;
            & i {
                font-size: 1.32em;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

// 商品行のactions用
.row-actions {
    opacity: 0;
    & span {
        & + span::before {
            content:  "|";
            color:$header_bg;
            margin-right: 5px;
            display: inline-block;
            padding-bottom: 3px;
        }

        &.trash a {
            color:rgb(224, 45, 45);
        }
    }
}

// 商品行のactionsを表示
.the-list tr {
    &:hover {
        & .row-actions {
            opacity: 1;
        }
    }
}
