#modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;
    display: none;
    transition: all 2s ease;
    & .bg-black {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0;
    }
    & #modal-main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        background: #fff;
        border-radius: 5px;
        width: 60%;
        height: 65%;
        opacity: 0;
    }
}

//モダールのコンテンツの中身
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border: none;
    background-color: inherit;
    width: 100%;
    height: 65%;

    & .modal-content__inner {
        height: 100%;
    }

    //welcome
    & #welcome {
        & .modal-logo {
            margin: 0 auto;
            width: 150px;
            & img {
                width: 100%;
            }
        }
        & .modal-head {
            font-size: 35px;
            font-weight: 200;
            margin: 30px 0 0;
        }
        & .modal-txt {
            margin: 5px 0 0;
            font-size: 21px;
        }
    }

    //form1
    & #form1 {

    }

    //form2
    & #form2 {
        & .modal-form__item {
            display: flex;
            margin: 0 auto 7.5px;
            width: fit-content;
            border: $inputbColor 0.7px solid;
            border-radius: 2px;
            & .modal-form__fname {
                width: 250px;
                text-align: left;
                display: flex;
                & .form-file__name {
                    padding: 1px 2px;
                }
                & .clear-btn {
                    width: 20px;
                    height: 100%;
                    background-color: inherit;
                    position: relative;
                    display: none;
                    &.view {
                        display: block;
                    }
                    &::before {
                        content: "";
                        display: block;
                        width: 17px;
                        height: 1.2px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(45deg);
                        background-color: rgb(180, 180, 180);
                    }
                    &::after {
                        content: "";
                        display: block;
                        width: 17px;
                        height: 1.2px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(135deg);
                        background-color: rgb(180, 180, 180);
                    }
                }
            }
            & .modal-form__label {
                width: 60px;
                display: block;
                & .browse-btn {
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: relative;
                    background-color: #EFEFEF;
                    border-left: $inputbColor 0.7px solid;
                    & i {
                        font-size: 1.53em;
                        height: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
        & .preview-outer {
            width: 100%;
            height: 220px;
            position: relative;
            margin: 0 auto;
            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 180px;
                height: 180px;
                transform: translate(-50%, -50%);
                border: #B9B9B9 solid 1px;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 185px;
                height: 185px;
                transform: translate(-50%, -50%);
                border: #B9B9B9 solid 1px;
            }
            #preview {
                max-width: 170px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    //confilm
    & #confilm {

    }
}

//モーダルのform1&form2のタイトル
.modal-form__title {
    font-size: 28px;
}

//モーダルのボタン基本スタイル
.modal-btn {
    cursor: pointer;
    background: #B9B9B9;
    width: 139px;
    height: 44px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    &__txt {
        font-size: 21px;
        color: #fff;
    }
}

//モーダル参照時
.js-show__modal {
    display: block !important;
    & .bg-black {
        @include animation (
            $name: modalBg,
            $duration: .7s,
            $timing-function: ease,
            $delay: .3s,
        );
    }

    & #modal-main {
        @include animation (
            $name: modalShow,
            $duration: .82s,
            $timing-function: ease,
            $delay: .4s,
        );
    }
}

//モーダルクローズ時
.js-close__modal {
    display: none !important;
}

//アニメーション関係
@keyframes modalBg {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .6;
    }
}

@keyframes modalShow {
    0% {
        opacity: 0;
        transform: translate(-50%, -100%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
