// カラー定数
$header_bg: #ADADAD;
$body_bg: #f5f5f5;
$side_summary_bg: #A2A2A2;
$btn_bg: #EBEBEB;
$font_color: #3C3C3C;
$inputbColor: #bbbbbb;
$input_bg: #f8fafc;
$required_color: #ff4141;

// フォントサイズ定数
$base_font_size: 17px;

// 横幅や高さの定数
$header_height: 32px;
$side_menu_wigth: 276px;
