@charset "UTF-8";
html {
  overscroll-behavior: contain;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

li {
  list-style: none;
}

p, menu, nav, ul {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background: #f5f5f5;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
}

.form-control {
  padding: 10px 13px;
  font-size: 15px;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #8c8f94;
  border-radius: 4px;
  background: inherit;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 1rem;
  margin: -0.25rem 0.25rem 0 0;
  outline: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 1rem;
  min-width: 1rem;
  position: relative;
  overflow: hidden;
}

input[type=checkbox]:checked {
  border: none;
}

input[type=checkbox]:checked::before {
  content: '';
  width: 101%;
  height: 101%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #39C4C9;
}

input[type=checkbox]:checked::after {
  content: url('data:image/svg+xml;charset=utf8,<svg id="check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 405.03 399.22"><path fill="%23fff" d="M475,50.68c-4.07,6.67-75.5,75.7-107.89,116.57-10.2,12.87-27.94,38-36.3,52.16C294.27,281.2,195,448.36,195,448.36h-3.94l-59.9-107.79c-17.63-39.84-44.5-57.74-61.21-50.34,0,0,10.11-19.92,21.8-26.68,11.23-6.5,22.55-5.05,32.29-.83,3.18,1.38,16.25,12.8,26.54,23,0,0,24.88,28.44,42.45,56.93,10.82-19.42,51.09-86.7,57.49-93.93s37.08-55.84,43.46-63.09c38.45-46.5,58.85-66.67,82.83-83.85,32.47-23.28,87.77-49.65,90.5-52.67Z" transform="translate(-69.96 -49.14)"/></svg>');
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.row-actions {
  opacity: 0;
}

.row-actions span + span::before {
  content: "|";
  color: #ADADAD;
  margin-right: 5px;
  display: inline-block;
  padding-bottom: 3px;
}

.row-actions span.trash a {
  color: #e02d2d;
}

.the-list tr:hover .row-actions {
  opacity: 1;
}

.ball-scale-multiple {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -30px;
}

.ball-scale-multiple div {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  background: #54D3EA;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation-name: ball-scale-multiple;
          animation-name: ball-scale-multiple;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.ball-scale-multiple div:nth-child(2) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.ball-scale-multiple div:nth-child(3) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

@-webkit-keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

.restaurant-menu {
  display: block;
  width: 38px;
  height: 38px;
  margin: 0 auto;
  background-image: url('data:image/svg+xml;utf8,<svg id="b12fb747-3b2d-48d5-83a8-7919c220abef" data-name="2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 447.81 512"><defs><style>.acd17690-b621-467d-b2df-f10cb1e2aa21{fill:000;}</style></defs><path class="acd17690-b621-467d-b2df-f10cb1e2aa21" d="M257.78,144.63v60.21a7.14,7.14,0,0,1-7.31,7h-1.94a7.12,7.12,0,0,1-7.29-7V144.35c0-9.92-7-12.88-13.71-12.88s-13.71,3-13.71,12.88v60.49a7.15,7.15,0,0,1-7.31,7h-1.94a7.15,7.15,0,0,1-7.31-7V144.63c0-17.76-26.53-17.16-26.53.2v57.5c-.12,31.92,7.86,40.22,21.07,50.16,10.64,8,19.74,12.61,19.74,32.5V413h32V285c0-19.89,9.08-24.49,19.73-32.5,13.2-9.94,21.19-18.24,21.06-50.16v-57.5C284.31,127.47,257.78,126.87,257.78,144.63Zm86.9,6c-6.8,18.17-19.54,62.57-19.54,85.12-1.77,54.23,27.46,25.16,28.19,67.64v110h31.82l.15.39V150.62C385.3,128.47,355.24,122.36,344.68,150.62ZM475.33,35.48A58.27,58.27,0,0,0,454.28,9.93,58,58,0,0,0,421.77,0H90.23A58.05,58.05,0,0,0,32.09,58.1V453.9A58.08,58.08,0,0,0,57.7,502.07,58.14,58.14,0,0,0,90.23,512H421.77A58,58,0,0,0,470,486.39a57.93,57.93,0,0,0,10-32.49V58.1A58.18,58.18,0,0,0,475.33,35.48ZM108.19,481h-18a27.2,27.2,0,0,1-10.57-2.12,27.52,27.52,0,0,1-12-9.85A26.65,26.65,0,0,1,64.31,462a27.29,27.29,0,0,1-1.22-8.06V58.1a27.18,27.18,0,0,1,19-25.88A27.44,27.44,0,0,1,90.23,31h18V481Zm340.7-27.1a27,27,0,0,1-2.11,10.54,27.17,27.17,0,0,1-16.92,15.34,27.87,27.87,0,0,1-8.09,1.22H126V31H421.77a27.09,27.09,0,0,1,22.51,12A26.86,26.86,0,0,1,447.69,50a27.28,27.28,0,0,1,1.2,8.06V453.9Z" transform="translate(-32.09)"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}

/**
* フォーム部品
*/
.form-outer {
  margin-top: 40px;
  font-size: 17px;
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-item__container {
  width: 100%;
}

.form-item__dropzone {
  padding: 20px;
  border: 2px dashed #eeeeee;
  background: #fff;
  outline: "none";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
  font-size: 11px;
  text-align: center;
}

.form-item__dropzone__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: inherit;
  border-radius: 3px;
  border: 1px solid #ff4141;
  color: #ff4141;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 7px;
  font-weight: bold;
  margin: 0 auto 10px;
}

.form-item__dropzone__btn i {
  font-size: 1rem;
}

.form-item__dropzone__btn--txt {
  margin-left: 10px;
}

.form-item__dropzone--txt {
  display: block;
  color: #39C4C9;
}

.form-item__dropzone.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.form-item__dropzone.disabled .form-item__dropzone__btn {
  border: 1px solid #b4b4b4;
  color: #b4b4b4;
}

.form-item__dropzone.disabled .form-item__dropzone--txt {
  color: #b4b4b4;
}

.form-item__label {
  width: 250px;
}

.form-item__label--txt {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
}

.form-required {
  font-size: 7.5px;
  color: white;
  background-color: #ff4141;
  padding: 2px 4px;
  margin-left: 3px;
}

.form-required::after {
  content: '必須';
}

.form-btn {
  border: 1px solid #3C3C3C;
  border-radius: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem 1rem;
}

.ajaxzip3 {
  padding: 3px 15px;
  border: 1px solid #707070;
}

.photo-list {
  display: -ms-grid;
  display: grid;
  gap: 15px 15px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.photo-list .photo-item {
  width: 120px;
  max-width: 120px;
  position: relative;
  margin: 0 auto;
  background: #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo-list .photo-item::before {
  content: "";
  display: block;
  padding-top: 100%;
  /* 比率を指定 */
}

.photo-list .photo-item picture {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  height: 100%;
}

.photo-list .photo-item__preview {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.photo-list .photo-item__btn {
  position: absolute;
  right: 2px;
  top: 2px;
  background: #000000;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.5;
}

.photo-list .photo-item__btn--inner {
  position: relative;
  pointer-events: none;
}

.photo-list .photo-item__btn--inner::before {
  content: "";
  display: block;
  width: 1px;
  height: 16.5px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.photo-list .photo-item__btn--inner::after {
  content: "";
  display: block;
  width: 1px;
  height: 16.5px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.fas, .fab {
  font-size: 2.5em;
}

#header {
  width: 100%;
  height: 32px;
  background: #ADADAD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  color: white;
  font-size: 15px;
  position: fixed;
  z-index: 10000;
}

#header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header > div .header-shop__txt {
  font-weight: bold;
}

#header > div .header-user {
  background: #EBEBEB;
  padding: 1.7px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header > div .header-user i {
  color: #3C3C3C;
  font-size: 16px;
  margin-right: 5px;
}

#header > div .header-user__txt {
  color: #3C3C3C;
  font-size: 12px;
}

#side-menu {
  width: 276px;
  height: calc(100% - 32px);
  background: #D1D1D1;
  overflow-y: hidden;
  position: fixed;
  top: 32px;
}

#side-menu .gb-menu {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#side-menu .gb-menu .summary-menu {
  width: 77px;
  height: 100%;
  background: #A2A2A2;
  padding-top: 15px;
}

#side-menu .gb-menu .summary-menu__box {
  width: 100%;
}

#side-menu .gb-menu .summary-menu__item {
  height: 77px;
}

#side-menu .gb-menu .summary-menu__btn {
  width: 100%;
  height: 100%;
  display: block;
  background: inherit;
}

#side-menu .gb-menu .summary-menu__btn[aria-selected="true"] {
  background: #D1D1D1;
  position: relative;
}

#side-menu .gb-menu .summary-menu__btn[aria-selected="true"]::after {
  content: "";
  width: 3.3px;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #707070;
}

#side-menu .gb-menu .summary-menu__btn:hover {
  background: #D1D1D1;
}

#side-menu .gb-menu .summary-menu__txt {
  margin: 0;
  font-size: 16px;
}

#side-menu .gb-menu .detail-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

#side-menu .gb-menu .detail-menu__section[aria-hidden="true"] {
  display: none;
}

#side-menu .gb-menu .detail-menu__section[aria-hidden="false"] {
  display: block;
}

#side-menu .gb-menu .detail-menu__item {
  width: 100%;
}

#side-menu .gb-menu .detail-menu__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: inherit;
  text-align: left;
  padding-left: 15px;
  margin: 17.5px 0;
  position: relative;
}

#side-menu .gb-menu .detail-menu__btn::after {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#side-menu .gb-menu .detail-menu__btn:hover::after {
  background: #707070;
}

#side-menu .gb-menu .detail-menu__txt {
  width: inline;
  margin: 0;
  font-size: 17px;
}

#welcome .modal-logo {
  margin: 33px auto 0;
  width: 150px;
}

#welcome .modal-logo img {
  width: 100%;
}

#welcome .modal-head {
  font-size: 40px;
  font-weight: 200;
  margin: 30px 0 0;
}

#welcome .modal-txt {
  margin: 10px 0 0;
  font-size: 21px;
}

#form0 .form-item__outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#form0 .form-item__outer .modal-form__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#form0 .form-item__outer .modal-form__item .modal-form__label {
  width: 200px;
  display: block;
  text-align: left;
}

#form1 .modal-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#form1 .modal-form__content .form-item__outer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 12.5px;
}

#form1 .modal-form__content .form-item__outer .form-item {
  margin-bottom: 12px;
  text-align: left;
}

#form1 .modal-form__content .form-item__outer .form-item .form-label {
  margin: 0;
}

#form1 .modal-form__content .form-item__outer .form-item .form-input {
  width: 200px;
  padding: 0.175rem 0.5rem;
}

#form2 .form-item {
  width: 30%;
  margin: 40px auto 7.5px;
}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: block;
  text-align: center;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

#modal .bg-black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
}

#modal #modal-main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  background: #fff;
  border-radius: 5px;
  width: 68%;
  height: 75%;
  opacity: 0;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  border: none;
  background-color: inherit;
  width: 100%;
  height: 70%;
}

.modal-content .modal-content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.modal-btn {
  cursor: pointer;
  background: #B9B9B9;
  display: inline-block;
  vertical-align: bottom;
  width: 139px;
  height: 44px;
  margin: auto auto 0;
}

.modal-btn__txt {
  font-size: 21px;
  color: #fff;
}

.modal-form__title {
  font-size: 28px;
}

.js-show__modal #modal-main {
  -webkit-animation-name: modalShow;
          animation-name: modalShow;
  -webkit-animation-duration: 0.82s;
          animation-duration: 0.82s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.js-show__modal .bg-black {
  -webkit-animation-name: modalBgView;
          animation-name: modalBgView;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.js-close__modal #modal-main {
  -webkit-animation-name: modalClose;
          animation-name: modalClose;
  -webkit-animation-duration: 0.82s;
          animation-duration: 0.82s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.js-close__modal .bg-black {
  -webkit-animation-name: modalBgHide;
          animation-name: modalBgHide;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes modalShow {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes modalShow {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes modalClose {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
}

@keyframes modalClose {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
}

@-webkit-keyframes modalBgView {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .6;
  }
}

@keyframes modalBgView {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .6;
  }
}

@-webkit-keyframes modalBgHide {
  0% {
    opacity: .6;
  }
  100% {
    opacity: 0;
  }
}

@keyframes modalBgHide {
  0% {
    opacity: .6;
  }
  100% {
    opacity: 0;
  }
}

#main {
  width: 100%;
  padding-top: 32px;
  padding-left: 276px;
  height: 100vh;
}

.main-container {
  margin: 10px 32px;
  padding-bottom: 30px;
}

.main-header .header-title {
  margin-top: 27px;
}

.main-header .header-title__txt {
  font-size: 37px;
  font-weight: bold;
}

#breadcrumb .breadcrumb {
  margin: 0;
}

#breadcrumb .breadcrumb-item {
  font-size: 16px;
}

#breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">");
}

.subsub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.subsub-menu__btn {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subsub-menu__btn + .subsub-menu__btn::before {
  content: "|";
  margin-right: 6px;
  display: block;
  padding-bottom: 3px;
}

.subsub-menu__btn a {
  text-decoration: none;
  color: #3C3C3C;
}

.subsub-menu__btn a.current {
  font-weight: bold;
}

.posts-filter {
  margin-bottom: 18px;
}

.posts-filter .search-box {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.posts-filter .search-box .search-input {
  width: 250px;
  padding: 0.2rem 0.5rem;
  margin-right: 10px;
}

.posts-filter .search-box .search-btn {
  display: inline-block;
}

.posts-filter .tablenav {
  clear: both;
  padding-top: 10px;
  vertical-align: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.posts-filter .tablenav .actions-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.posts-filter .tablenav .actions-box .align-left__actions {
  margin-right: 15px;
}

.posts-filter .tablenav .displaying-num {
  height: 100%;
  vertical-align: text-bottom;
}

.posts-filter .tablenav .tablenav-select {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-right: 3px;
  display: inline-block;
}

.food-list__table {
  width: 100%;
  background: #fff;
  border: 1px solid #bbbbbb;
}

.food-list__table .check-column {
  width: 3%;
  padding-left: 15px;
}

.food-list__table thead {
  border-bottom: 1px solid #bbbbbb;
}

.food-list__table thead th {
  padding: 9px;
}

.food-list__table thead th.column-food {
  width: 23%;
}

.food-list__table thead th.column-category {
  width: 20%;
}

.food-list__table thead th.column-money {
  width: 11%;
}

.food-list__table thead th.column-images {
  width: 11%;
}

.food-list__table thead th.column-status {
  width: 11%;
}

.food-list__table .the-list {
  vertical-align: top;
}

.food-list__table .the-list tr:nth-child(odd) {
  background: #f3f3f3;
}

.food-list__table .the-list th {
  padding: 9px 0 0 15px;
}

.food-list__table .the-list td {
  padding: 9px;
}

.food-list__table .the-list td.column-food {
  width: 23%;
}

.food-list__table .the-list td.column-category {
  width: 20%;
}

.food-list__table .the-list td.column-money {
  width: 11%;
}

.food-list__table .the-list td.column-images {
  width: 11%;
}

.food-list__table .the-list td.column-status {
  width: 11%;
}

#restaurant-information .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#restaurant-information .form-item:not(:last-child) {
  margin-bottom: 38px;
}

#restaurant-information .form-item:nth-of-type(2) .form-input {
  margin-right: 40px;
}

#restaurant-information .form-item:nth-of-type(8) {
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

#restaurant-information .form-item:nth-of-type(8) .form-label__outer {
  padding-top: 5px;
}

#restaurant-information .form-item:nth-last-of-type(2) {
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

#restaurant-information .form-item:nth-last-of-type(2) .form-label__outer {
  padding-top: 5px;
}

#restaurant-information .form-item__container {
  width: 33%;
}

#restaurant-information .form-item .ajaxzip3 {
  margin-left: 15px;
}
/*# sourceMappingURL=style.css.map */