#restaurant-information {
    & .form-item {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 38px;
        }
        &:nth-of-type(2) {
            & .form-input {
                margin-right: 40px;
            }
        }
        &:nth-of-type(8) {
            align-items: inherit;
            & .form-label__outer {
                padding-top: 5px;
            }
        }
        &:nth-last-of-type(2) {
            align-items: inherit;
            & .form-label__outer {
                padding-top: 5px;
            }
        }

        &__container {
            width: 33%;
        }

        & .ajaxzip3 {
            margin-left: 15px;
        }
    }
}


