<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/css/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="../../public/css/app/test/style.css">
    <script src="./tests/js/popUP.js"></script>
    <title>home</title>
</head>
<body>
    <div id="popup">
        <div id="js-black__bg" class="bg-black"></div>
        <div class="popup-main">
            <div class="popup-content">
                <h1 class="popup-logo"><img src="./tests/images/logo.png" alt=""></h1>
                <h2 class="popup-head">Touchへようこそ</h2>
                <p class="popup-txt">在庫管理、帳票作成、お店のメニューのカスタマイズを一つのアプリで</p>
                <button id="js-close__btn" class="popup-btn">
                    <span class="popup-btn__txt">次へ</span>
                </button>
            </div>
        </div>
    </div>
    <div id="side-menu">
        <div class="header">
            <div class="header-shop">
                <p class="header-shop__txt">店の名前</p>
            </div>
        </div>
        <menu class="gb-menu">
            <nav class="summary-menu">
                <ul class="summary-menu__box">
                    <li class="summary-menu__item">
                        <button class="summary-menu__btn">
                            <i class="fas fa-home"></i>
                            <p class="summary-menu__txt">ホーム</p>
                        </button>
                    </li>
                    <li class="summary-menu__item">
                        <button class="summary-menu__btn">
                            <i class="fas fa-boxes"></i>
                            <p class="summary-menu__txt">在庫</p>
                        </button>
                    </li>
                    <li class="summary-menu__item">
                        <button class="summary-menu__btn">
                            <i class="fab fa-wpforms"></i>
                            <p class="summary-menu__txt">帳票</p>
                        </button>
                    </li>
                    <li class="summary-menu__item">
                        <button class="summary-menu__btn">
                            <i class="fas fa-cogs"></i>
                            <p class="summary-menu__txt">基本情報</p>
                        </button>
                    </li>
                </ul>
            </nav>
            <nav class="detail-menu">
                <ul class="detail-menu__box">
                    <li class="detail-menu__item">
                        <button class="detail-menu__btn">
                            <p class="detail-menu__txt">テキスト</p>
                        </button>
                    </li>
                    <li class="detail-menu__item">
                        <button class="detail-menu__btn">
                            <p class="detail-menu__txt">テキスト</p>
                        </button>
                    </li>
                    <li class="detail-menu__item">
                        <button class="detail-menu__btn">
                            <p class="detail-menu__txt">テキスト</p>
                        </button>
                    </li>
                    <li class="detail-menu__item">
                        <button class="detail-menu__btn">
                            <p class="detail-menu__txt">テキスト</p>
                        </button>
                    </li>
                </ul>
            </nav>
        </menu>
    </div>
    <main></main>
</body>
<script>
    console.log('aaa');
    document.addEventListener('load', popup());
</script>
</html>
