div.button {
    text-align: center;
}

button {
    margin-bottom: 30px;
    font-size: large;
}

div.contents-box {

    padding: 5px;
    width: 155px;
    margin-top: 10px;
}

/* QRコード関連 */
div.tableCountForm {
    text-align: center;
}

.Reference_Mark {
    opacity: 0.5;
}

.home_back {
    display: block;
    margin: 0 0 0 auto;
}

/* order */
.tab-label {
    color: White;
    background: LightGray;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    margin-bottom: -1px;
    padding: 10px .5em;
    border: 1px solid rgba(0, 0, 0, .2);
    cursor: pointer;
    display: block;
}

.tab-label:before {
    content: '▼';
    margin-right: .2em;
    display: inline-block;
    transform: rotate(-90deg);
}

.tab-switch:checked+.tab-label:before {
    transform: rotate(0);
}

.tab-content {
    height: 0;
    padding: 0 15px;
    overflow: hidden;
    opacity: 0;
}

/* アクティブなタブ */
.tab-switch:checked+.tab-label {
    background: DeepSkyBlue;
}

.tab-switch:checked+.tab-label+.tab-content {
    height: auto;
    overflow: auto;
    margin-bottom: -1px;
    padding: 15px;
    opacity: 1;
    transition: .5s;
    border: 1px solid LightGray;
}

/* ラジオボタン非表示 */
.tab-switch {
    display: none;
}


.plan-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;

}

.plan-item {
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 1px 1px 3px #aaa;
    display: flex;
}

.order_post {
    margin: auto 5px;
    width: 30px;
}

.confirmSubmit {
    display: block;
    margin: 0 0 0 auto;
}

/* confirmテーブルcss */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

table th:first-child {
    border-radius: 5px 0 0 0;
}

table th:last-child {
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
}

table th {
    text-align: center;
    color: white;
    background: linear-gradient(#829ebc, #225588);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
    width: 20%;
    padding: 10px 0;
}

table td {
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top: none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    width: 20%;
    padding: 10px 0;
}

table td:last-child {
    border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}

.confirmOkey {
    display: block;
    margin: 0 0 0 auto;
    background-color: rgb(253, 54, 54);
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

.confirmCansel {
    display: block;
    margin: 0 0 0 auto;
    background-color: rgb(54, 147, 253);
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

div.clear {
    display: inline-block;
    vertical-align: top;
}

div.total {
    text-align: center;
}

.pay_off {
    display: block;
    margin: 0 0 0 auto;
    background-color: rgb(253, 54, 54);
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

.page_back {
    margin: 0 0 auto auto;
    background-color: rgb(163, 163, 163);
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

.home_back {
    margin-top: 50px;
    color: red;
    text-decoration: none;
    text-align: center;
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 24px;
}

.youkoso {
    text-align: center;
}
.name {
    color: red;
}